@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    background-color: #e9ecf8;
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'IBM Plex Mono', monospace;
    color: #052051;
}

textarea,
button,
p {
    font-family: 'IBM Plex Mono', monospace;
    color: #052051;
    font-size: 18px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.divLogo {
    height: 480px;
    width: 15%;
}

.divTextIn {
    margin: 0 15px;
    width: 55%;
}

.textAreaIn {
    padding: 10px;
    height: 480px;
    width: 96%;
    resize: none;
    border-radius: 10px;
    /* font-family: 'Chakra Petch', sans-serif; */
}

.divTextOut {
    height: 480px;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f5fc;
}

.pResult {
    /* text-align: center; */
    margin-bottom: 10px;
}

.searchLogo {
    width: 80%;
}

button {
    height: 40px;
    width: 150px;
    background-color: #aab2d5;
    color: #052051;
    border-radius: 15px;
    border: 1px solid #052051;
    cursor: pointer;
}

button:hover {
    background-color: #052051;
    color: #f3f5fc;
}
